<div id="footer">
    <nav class="navbar bg-primary d-flex justify-content-between align-items-center px-3" style="padding: 0;">
        <a href="datenschutz" class="nav-link text-white">Datenschutzrichtlinie</a>
        <a href="impressum" class="nav-link text-white">Impressum</a>
        <a href="alter-simulator" class="nav-link text-white">Alter Flugsimulator</a>
        <a href="doku" class="nav-link text-white">Dokumentationen</a>
        <a href="spenden" class="nav-link text-white">Spenden</a>
    <a class="navbar-brand" href="#">
        <img src="/assets/img/logo.png" alt="Open320Neo Logo" style="width: 50px; transform: scaleX(-1);">
    </a>
    </nav>
</div>