<nav class="navbar bg-primary" style="padding: 0;">
    <div class="col">
        <a class="navbar-brand" href="#"><img src="/assets/img/logo.png" alt="Open320Neo Logo" style="width: 50px;"></a>
    </div>
    <div class="col">
        <a href="/" class="nav-link">Startseite</a>
    </div>
    <div class="col">
        <a href="ueber-uns" class="nav-link">Über Uns</a>
    </div>
    <div class="col">
        <a href="doku" class="nav-link">Dokumentation</a>
    </div>
    <div class="col">
        <a href="spenden" class="nav-link">Spenden</a>
    </div>
    <div class="col">
        <a href="kontakt" class="nav-link">Kontaktiere uns</a>
    </div>
</nav>