body {
    text-align: center;
    background-color: #E2E2E2;
    margin-left: 500px;
    margin-right: 500px;
}
ul {
    list-style-position: inside;
    text-align: center;
    padding: 0;
}

li {
    display: inline-block;
    margin: 0.5em 0;
}