html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    background-color: #f0ffff;
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
}

#navbar {
    background: black;
    color: white;
    width: 100vw;
    /*height: 50px;*/
    position: relative;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar a {
    color: white;
    text-decoration: none;
    font-size: 2.5vw;
    line-height: 50px;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

#footer {
    background: black;
    color: white;
    width: 100%;
    position: relative;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer a {
    color: white;
    text-decoration: none;
    font-size: 2.5vw;
    line-height: 50px;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

p {
    font-size: 20px;
    margin: 10px;
}

.content {
    margin: 40px;
}

#twint {
    color: #ffffff;
    background-color: #020202;
    font-size: 19px;
    border: 0px solid #010203;
    border-radius: 5px;
    padding: 10px 50px;
    cursor: pointer
}

#twint:hover {
    color: #ffffff;
    background-color: #1f1f1f;
}

.team-container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
}

.team {
    text-align: center;
    max-width: 200vw;
}

.team img {
    width: 165px;
    height: 285px;
    border-radius: 5%;
}

.team h3 {
    margin: 10px 0 5px;
    font-size: 18px;
}

.team p {
    font-size: 14px;
    color: #555;
}

#doku a, a:active {
    color: black;
}

#doku a:hover {
    color: #1f1f1f;
    background-color: #f0fff0;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
}