body {
    text-align: center;
    background-color: #E2E2E2;
    margin-left: 500px;
    margin-right: 500px;
}
ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    list-style-position: inside;
}

li {
    margin: 0.5em 0; 
    text-align: center;
}
